/* GLOBAL */
* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: sans-serif;
}

html {
      scroll-behavior: smooth;
      height: 100%;
}

body {
      height: 100%;
      display: flex;
      flex-direction: column;
      overflow-x: hidden;
}

main {
      flex-grow: 1;
}

a {
      text-decoration: none;
}

::-webkit-scrollbar {
      width: 10px;
}

::-webkit-scrollbar-track {
      background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
      background: #000;
}

::-webkit-scrollbar-thumb:hover {
      background: #333;
}

.hidden {
      display: none !important;
}

.container {
      max-width: 1400px;
      margin: 0 auto;
      padding: 0 10px;
}

.base-btn {
      padding: 12px 24px;
      border-radius: 30px;
      border: 1px solid #ef664d;
      background-color: #000;
      color: #ef664d;
      font-size: 13px;
      text-decoration: none;
      transition: background-color .3s ease-out,color .4s ease-out, transform 0.5s;
}
.base-btn:hover{
      background-color: #ef664d;
      border: 1px solid #2525;
      color: #fff;
      cursor: pointer;
      transform: translate3D(0, -4px, 0);
}
.to-Top-Btn {
      transform: rotate(180deg);
      position: fixed;
      right: 40px;
      bottom: -124px;
      width: 40px;
      height: 40px;
      display: grid;
      place-items: center;
      z-index: 6000;
      background: #ef664d;
      border-radius: 50%;
      border-color: #c27466;
      transition: all 0.5s ease;
      box-shadow: 0 0 4px #fff;
      cursor: pointer;
}

.to-Top-Btn.active {
      bottom: 100px;
}

.to-Top-Btn svg {
      pointer-events: none;
}

/* Header */
.nav {
      width: 100%;
      padding: 25px 0 12px;
      box-shadow: 0 0 10px 4px #e1e1e1;
      background-color: #fff;
}

.nav__content {
      display: flex;
      align-items: center;
      justify-content: space-between;
}

.logo {
      display: block;
      width: 180px;
      height: 80px;
}

.logo img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
}

.nav__menu {
      display: flex;
      flex-direction: column;
      gap: 30px;
      align-items: flex-end;
}

.nav__lang {
      width: 75px;
      position: relative;
      cursor: pointer;
      text-transform: uppercase;
}

.nav__lang div {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 7px;
}

.nav__lang .content {
      pointer-events: none;
}

.nav__lang-options {
      min-width: 100%;
      position: absolute;
      right: 0;
      top: calc(100% + 6px);
      display: flex;
      flex-direction: column;
      z-index: 500;
      border-radius: 8px;
      background: #f7f7f7;
}

.nav__right {
      display: flex;
      align-items: center;
      gap: 30px;
}

.nav__lang-options .lang-option-item {
      padding: 8px;
      width: 100%;
      display: block;
      font-size: 10px;
      line-height: 10px;
      color: #000;
}

.lang-text-info {
      font-size: 13px;
}

.nav__lang-options .lang-option-item:hover {
      background: rgb(224, 224, 224);
}
.lang-img{
      width: 30px;
      height: 15px;
}

.nav__lang-options .lang-option-item:first-child {
      border-radius: 8px 8px 0 0;
}

.nav__lang-options .lang-option-item:last-child {
      border-radius: 0 0 8px 8px;
}

.nav__list {
      display: flex;
      gap: 30px;
      list-style: none;
}

.bars {
      display: none;
      flex-direction: column;
      gap: 5px;
      height: 22px;
}

.bars span {
      width: 32px;
      border-radius: 4px;
      height: 4px;
      background-color: #000;
}

.bars span:nth-child(1) {
      transition: transform 0.7s cubic-bezier(0.42, 0, 0.28, 1.09);
}

.bars span:nth-child(3) {
      transition: transform 0.7s cubic-bezier(0.42, 0, 0.28, 1.09);
}

.bars.active span:nth-child(1) {
      transform: translate(0, 5px) rotate(45deg);
      transition: transform 0.7s cubic-bezier(0.42, 0, 0.28, 1.09);
}

.bars.active span:nth-child(2) {
      display: none;
}

.bars.active span:nth-child(3) {
      transform: translate(0, -4px) rotate(-45deg);
      transition: transform 0.7s cubic-bezier(0.42, 0, 0.28, 1.09);
}

.nav__list a,
.resNAv__list a {
      font-size: 16px;
      color: #252525;
      transition: 0.3s;
      transition: color .8s ease, background-color .7s ease-in-out;
}

.nav__list a:hover {
      color: #ef664d;
}

.resNAv {
      position: fixed;
      left: 0;
      top: 108px;
      z-index: 10000;
      background-color: #fff;
      width: 100%;
      text-align: center;
      overflow: hidden;
      height: 0;
      transition: all 0.3s linear;
      box-shadow: 0 2px 10px 0px #e1e1e1;

}

.resNAv.active {
      height: auto;
      padding: 30px 0;
      transition: all 0.3s linear;
}

.resNAv__list {
      display: flex;
      flex-direction: column;
      gap: 20px;
      list-style: none;
}

/* Section Games */
.games {
      padding: 80px 0;
}

.games__desc {
      margin-bottom: 40px;
      color: #d8482f;
}

.games__gallery {
      border: 4px solid #252522;
}

.games__gallery video {
      width: 100%;
      height: 80vh;
      overflow: hidden;
      object-fit: cover;
}

/*  Childrens right */
.childrens-right__image1 {
      width: 300px;
      margin: 0 auto;
      margin-bottom: 40px;
}


/* Section Banner */
.swiper {
      width: 100%;
      height: calc(100vh - 117px);
}

.banner {
      z-index: 999;
}

.swiper-slide img {
      width: 100%;
      height: 100%;
      object-fit: cover;
}

/* Section Direktion */
.direction {
      padding-top: 120px;
}

.direction__title {
      text-align: center;
      font-weight: 600;
      font-size: clamp(1rem, 3vw, 48px);
      margin-bottom: 15px;
      line-height: 74px;
}

.direction__desc {
      text-align: center;
      font-size: clamp(1rem, 3vw, 21px);
      line-height: 29px;
      margin-bottom: 100px;
      color: #ef664d;
}

.direction__desc span {
      font-size: clamp(1rem, 3vw, 21px);
      font-weight: 700;
      line-height: 29px;
      color: #ef664d;
}

.direction__info {
      background-image: url('https://optim.tildacdn.one/tild6532-6532-4237-a561-386438653738/-/format/webp/boy-on-bluejpg.png');
      background-position: center;
      background-size: 70% 500px;
      background-repeat: no-repeat;
      position: relative;
      display: flex;
      align-items: center;
      padding: 300px 0 200px;
}

.left-div-1 {
      display: inline-flex;
      text-align: center;
      flex-direction: column;
      align-items: center;
      position: absolute;
      gap: 25px;
      font-weight: 500;
      font-size: clamp(1rem, 1vw, 21px);
      line-height: 29px;
      left: 360px;
      top: 40px;
}

.left-div-1,
.left-div-2 span {
      width: 25px;
      height: 25px;
      border-radius: 50%;
      background-color: #e9c2c5;
}

.left-div-2 {
      position: absolute;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      font-weight: 500;
      font-size: clamp(1rem, 1vw, 21px);
      line-height: 29px;
      left: 100px;
      top: 150px;
}

.left-div-3 {
      position: absolute;
      display: flex;
      text-align: center;
      flex-direction: column;
      align-items: center;
      font-weight: 500;
      font-size: clamp(1rem, 1vw, 21px);
      line-height: 29px;
      left: 30px;
      top: 320px;
}

.left-div-3 span {
      width: 25px;
      height: 25px;
      border-radius: 50%;
      background-color: #e9c2c5;
}

.right-div-1 {
      position: absolute;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 25px;
      text-align: center;
      font-weight: 500;
      font-size: clamp(1rem, 1vw, 21px);
      line-height: 29px;
      top: 40px;
      right: 330px;
}

.right-div-1,
.right-div-2 span {
      width: 25px;
      height: 25px;
      border-radius: 50%;
      background-color: #e9c2c5;
}

.right-div-2 {
      position: absolute;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      font-weight: 500;
      font-size: clamp(1rem, 1vw, 21px);
      line-height: 29px;
      right: 130px;
      top: 150px;
}

.right-div-3 {
      position: absolute;
      display: flex;
      text-align: center;
      flex-direction: column;
      align-items: center;
      font-weight: 500;
      font-size: clamp(1rem, 1vw, 21px);
      line-height: 29px;
      right: 40px;
      top: 320px;
}

.right-div-3 span {
      width: 25px;
      height: 25px;
      border-radius: 50%;
      background-color: #e9c2c5;
}

/* logoped */
.logoped {
      padding: 80px 0 0 0;
      background: url('../images/bg-main.png');
      background-size: cover;
      background-position: center;
}

.logoped__title {
      color: #c27466;
      font-size: 60px;
      font-weight: 700;
      font-family: sans-serif;
      margin-bottom: 40px;
      line-height: normal;
      text-align: center;
}

.logoped__desc {
      width: 80%;
      font-size: 22px;
      line-height: 30px;
      margin: 0 auto;
      margin-bottom: 140px;
      text-align: center;
      color: #ef664d;
}

.logoped__gallery {
      display: flex;
}

.logoped-img {
      width: calc(100% / 3);
}

.logoped-img img {
      width: 100%;
      height: 300px;
      object-fit: cover;
}

.bogcha {
      padding: 100px 0;
}

.bogcha-content {
      display: flex;
      gap: 50px;
      align-items: center;
      justify-content: space-between;
}

.bogcha .bogcha-content .right {
      width: 490px;
      height: 350px;
      border-radius: 20px;
}

.bogcha .bogcha-content .right img {
      width: 490px;
      height: 350px;
      border-radius: 20px;
}

.bogcha-content .left {
      max-width: 590px;
}

.bogcha-content .left h1 {
      font-family: sans-serif;
      font-size: 53px;
      margin-bottom: 25px;
      color: #ef664d99;
}
.bogcha-content .left span{
      color: #d8482f;
}
.bogcha-content .left p {
      line-height: 27px;
      font-family: sans-serif;
      font-size: 18px;
      color: tomato;
}

.bogcha-content2 {
      margin-top: 90px;
}

/* Section Testimonials */
.testimonials {
      background-color: rgba(255, 160, 122, 0.346);
      padding: 120px 0;
}

.testimonials__title {
      font-size: 60px;
      font-weight: 600;
      color: #ef664d;
      margin-bottom: 15px;
}

.testimonials__desc {
      font-size: 16px;
      color: #d8482f;
      margin-bottom: 50px;
      max-width: 700px;
}

.testimonials__content {
      overflow: hidden;
}


.card1 {
      max-width: 400px;
      background-color: white;
      padding: 15px 20px;
      border-radius: 12px;
      margin-bottom: 15px;
}

.card2 {
      max-width: 400px;
      padding: 10px 25px 0 25px;
      display: flex;
      gap: 20px;
      align-items: center;
}

.text h1 {
      font-family: sans-serif;
      font-size: 1.1875rem;
      line-height: 1.4;
      margin-bottom: 17px;
      font-weight: 700;
      color: #4b4b4b;
}

.card2 img {
      height: 80px;
      border-radius: 50%;
      border: 5px solid #c2bebe;

}

.hero__content svg {
      width: 15px;
      height: 15px;
      margin-top: 5px;
}

.hero__content button {
      padding: 0 0 0 10px;
      display: flex;
      width: 100px;
      height: 50px;
      align-items: center;
      background-color: rgb(255, 85, 0);
      border: 0;

}

/* Section Artiles */
.childrens-right__desc {
      margin-bottom: 70px;
}

.article {
      padding: 80px 0;
      background-color: #c2747689;
}


.article__content h1 {
      color: #ef664d;
      font-size: 60px;
      text-align: center;
      margin-bottom: 25px;
}

.article__content p {
      font-size: 22px;
      line-height: 26px;
      text-align: center;
      color: #d8482f;
}

.article__images {
      margin-top: 60px;
      display: flex;
      gap: 20px;
      flex-wrap: wrap;
      justify-content: center;
}

.article__images img {
      width: 300px;
      height: 300px;
}

/* Section Psixolog */
.psixolog {
      background-color: lime;
      padding: 90px 0;
}

.psixolog__page {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
}

.psixolog__text__content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
}

.psixolog__desc {
      line-height: 24px;
      color: #8fd82f;
      -webkit-text-stroke: #d8482f .6px;
}

.psixolog__images {
      display: flex;
      gap: 40px;
      flex-wrap: wrap;
      justify-content: space-between;
}

.psixolog__images img {
      width: calc(50% - 20px);
      height: 400px;
      object-fit: cover;
}

/* Section Documents */
.documents {
      background: url('../images/bg-main.png');
}

.documents__nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
}

.documents__img1,
.documents__img2 {
      width: 200px;
}

.documents__h2 {
      font-size: 50px;
      text-align: center;
      color: #c2746699;
}

.documents__desc {
      font-size: 22px;
      margin: 50px 0;
      line-height: 26px;
      color: #d8482f90;
}

.documents__img3 {
      width: 100%;
      height: 300px;
      object-fit: cover;
}

/* Section Our-team */
.our-team {
      padding: 100px 0;
}

.our-team__content {
      overflow: hidden;
}

.our-team__content h1 {
      font-size: 48px;
      font-weight: 600;
      font-family: sans-serif;
      padding: 10px 0 20px 0;
}

.our-team__content .line {
      height: 5px;
      width: 150px;
      background-color: red;
      margin-bottom: 80px;
}

.our-team__card h1 {
      font-size: 20px;
      font-weight: 600;
      font-family: sans-serif;
      color: #ef664d;
}

.our-team__card p {
      max-width: 350px;
      font-size: 16px;
      color: #d8482f;
      margin-bottom: 20px;
}

.our-team__card img {
      width: 100%;
      height: 280px;
      object-fit: cover;
}

/* Section Contact */
.contact {
      padding: 80px 0 120px;
}

.contact__info {
      display: flex;
      justify-content: space-between;
}

.contact__left {
      display: flex;
      flex-direction: column;
      gap: 25px;
      width: calc(100% / 2 - 20px);

}

.contact__left input {
      width: 100%;
      padding: 15px;
      font-size: 16px;
      outline: none;
      border: 1px solid #999;
      box-shadow: 0 2px 10px #999;
      border-radius: 4px;

}

.contact-btn {
      border-radius: 4px;
      padding: 15px;
      font-size: 16px;
}

.contact__right {
      width: calc(100% / 2 - 20px);
      height: 400px;
      background-color: #dfdfdf99;
      border-radius: 8px;

}

.contact__right iframe {
      width: 100%;
      height: 100%;
      border-radius: 8px;
}

/* Footer */
#footer {
      background-color: rgb(61, 60, 66);
      color: #fff;
      padding-top: 20px;
}

.footer__content {
      padding-top: 50px;
      display: flex;
      flex-direction: column;
}

.footer__top {
      display: flex;
      justify-content: space-between;
}


.footer__top-card a img {
      width: 22.99px;
      height: 22.99px;
      color: #fff;
}

.footer__desc {
      max-width: 400px;
}

.tn-atom__img {
      width: 169px;
      height: 87.99px;
}

.footer__top-card a {
      color: #fff;
      display: flex;
      align-items: center;
      gap: 10px;
      padding-bottom: 15px;
}

.line {
      width: 100%;
      height: 1px;
      background-color: white;
      background-position: center center;
      margin-bottom: 30px;
}

.footer__top-card-title {
      margin-bottom: 15px;
}

.footer__top-card .logo img {
      padding-bottom: 20px;
      width: 180px !important;
      height: 100px !important;
}

.footer__bottom {
      padding: 25px 0;
}

.footer__bottom-desc {
      text-align: center;
      font-size: 13px;
      line-height: 20px;
}

.footer__bottom-desc a {
      color: #fff;
}